// .main-header *{
// 	@include lineout(1px, blue);
// }

.main-header {
	margin-right: auto;
	margin-left: auto;
	min-width: 320px;
	display: flex;
	flex-direction: column;
	// height: 66px;
}

.main-header__wrapper {
	display: flex;
	justify-content: space-between;
	height: 66px;
	min-width: 320px;
}

.main-header__logo {
	margin-top: 12px;
	margin-left: 21px;
	display: block;
}

.main-header__nav-toggle {
	margin: 24px 19px 0px 0px;
	padding: 0px;
	border: none;
	width: 24px;
	height: 2px;
	background-color: black;
	box-shadow: 0 8px 0 0 black, 0 16px 0 0 black;
}

.main-header__nav-toggle_close {
	width: 25px;
	margin-top: 31px;
	margin-right: 18px;
	box-shadow: none;
	position: relative;
	transform: rotate(45deg);

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0px;
		background-color: black;
		width: 25px;
		height: 2px;
		transform: rotate(-90deg);
	}

}


.main-header__nav {
	width: 100%;
	margin-left: auto;
	margin-right: auto;


	@media (min-width: $tablet-width) {

	}

	@media (min-width: $desktop-width) {
		max-width: $desktop-width;
	}
}

.main-header__nav_closed {
	display: none;
}

.site-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	// display: none;
}

.site-nav__item {
	width: 100%;
	height: 66px;
	padding-top: 19px;
	text-align: center;
	border-top: 1px solid #E6E6E6;

	&:last-child {
		border-bottom: 1px solid #E6E6E6;
	}
}

.site-nav__link {
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-size: 1.25em;
	line-height: 1.2em;
}
