@font-face {
  font-family: "Arial Regular";
  src: url("ArialMT.eot");
  src: url("ArialMT.eot?#iefix") format("embedded-opentype"), url("ArialMT.woff") format("woff"), url("ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oswald Regular";
  src: url("Oswald-Regular.eot");
  src: url("Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("Oswald-Regular.woff") format("woff"), url("Oswald-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Oswald-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Oswald-Regular.ttf") format("truetype");
}
/*****
@media (min-width: $tablet-width) {}
@media (min-width: $desktop-width) {}
***/
html {
  height: 100%;
  font-family: "Arial Regular", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  color: black;
  background-color: ivory;
}
@media (min-width: 768px) {
  body {
    font-size: 1.125em;
    line-height: 1.33em;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  outline: 1px dashed darkorange;
  outline-offset: -1px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1440px) {
  .container {
    padding-left: 110px;
    padding-right: 110px;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-header {
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  height: 66px;
  min-width: 320px;
}

.main-header__logo {
  margin-top: 12px;
  margin-left: 21px;
  display: block;
}

.main-header__nav-toggle {
  margin: 24px 19px 0px 0px;
  padding: 0px;
  border: none;
  width: 24px;
  height: 2px;
  background-color: black;
  box-shadow: 0 8px 0 0 black, 0 16px 0 0 black;
}

.main-header__nav-toggle_close {
  width: 25px;
  margin-top: 31px;
  margin-right: 18px;
  box-shadow: none;
  position: relative;
  transform: rotate(45deg);
}
.main-header__nav-toggle_close::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  background-color: black;
  width: 25px;
  height: 2px;
  transform: rotate(-90deg);
}

.main-header__nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1440px) {
  .main-header__nav {
    max-width: 1440px;
  }
}

.main-header__nav_closed {
  display: none;
}

.site-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav__item {
  width: 100%;
  height: 66px;
  padding-top: 19px;
  text-align: center;
  border-top: 1px solid #E6E6E6;
}
.site-nav__item:last-child {
  border-bottom: 1px solid #E6E6E6;
}

.site-nav__link {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;
  line-height: 1.2em;
}

.promo *:not(.container) {
  outline: 1px dashed magenta;
  outline-offset: -1px;
}

.promo {
  position: relative;
}

.promo::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 302px;
  background-image: url("../img/index-cat-background.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.promo::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 302px;
  background-color: rgba(104, 183, 56, 0.85);
  z-index: 0;
}

.promo__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.promo__title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 2.25em;
  font-weight: normal;
  line-height: 1em;
  color: white;
  text-align: center;
  margin: 28px auto 0px;
}
@media (min-width: 768px) {
  .promo__title {
    color: black;
  }
}

.promo__subtitle {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1em;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin: 25px auto 0px;
}
@media (min-width: 768px) {
  .promo__subtitle {
    color: black;
  }
}

.promo__picture {
  margin: 29px auto 0px auto;
  padding-left: 2px;
}
.promo__picture img {
  text-align: center;
}

.promo__button {
  margin-top: 5px;
  padding: 0px;
}

.button {
  display: block;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.29em;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  text-align: center;
  height: 40px;
  padding-top: 11px;
}

.button_green {
  background-color: #68B738;
}

.catalog-link {
  display: block;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  text-align: left;
  height: 40px;
  padding-top: 11px;
}
.catalog-link::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 12px;
  margin-left: 15px;
  background-image: url("../img/arrow-short.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.diets {
  margin-bottom: 20px;
}
.diets__list {
  margin: 22px 0px 0px 0px;
  padding: 0px 0px;
}

.diets__item {
  list-style: none;
  margin: 0px 0px 21px 0px;
  width: 100%;
  height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F2F2F2;
}
.diets__item:first-child .diets__item-title::before {
  width: 50px;
  height: 53px;
  background-image: url("../img/cat_slim-icon.svg");
}
.diets__item:last-child {
  margin-bottom: 0px;
}
.diets__item:last-child .diets__item-title {
  padding-left: 13px;
}
.diets__item:last-child .diets__item-title::before {
  width: 67px;
  height: 50px;
  margin-right: 12px;
  background-image: url("../img/cat_pro-icon.svg");
}

.diets__item-title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 96px;
  margin: 0px 0px 0px 0px;
  padding-left: 23px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.54em;
  font-weight: 400;
  text-transform: uppercase;
}
.diets__item-title::before {
  content: "";
  display: inline-block;
  text-align: left;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  margin-right: 19px;
}

.diets__item-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px 0px 0px 0px;
  font-family: Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.29em;
  font-weight: 400;
  color: #444444;
  padding-left: 21px;
  padding-right: 17px;
  padding-top: 0px;
}
.diets__item-text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
  margin-top: auto;
}

.diets__item-link {
  padding-top: 7px;
  padding-left: 20px;
  height: 57px;
}

.advantages {
  margin-bottom: 20px;
  padding-top: 7px;
}

.advantages__title {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 1em;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.advantages__list {
  margin-top: 40px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0;
}

.advantages__item {
  list-style: none;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.advantages__item:nth-child(1) .advantages__icon {
  background-image: url("../img/advantages-icon-1.svg");
}
.advantages__item:nth-child(2) .advantages__icon {
  background-image: url("../img/advantages-icon-2.svg");
}
.advantages__item:nth-child(3) .advantages__icon {
  background-image: url("../img/advantages-icon-3.svg");
}
.advantages__item:nth-child(4) .advantages__icon {
  background-image: url("../img/advantages-icon-4.svg");
}
.advantages__item:last-child {
  margin-bottom: 0px;
}

.advantages__icon {
  display: block;
  min-width: 60px;
  min-height: 60px;
  margin-right: 20px;
  align-self: flex-start;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.advantages__text {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.29em;
  color: #444444;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
  padding-top: 2px;
}

.example {
  background-color: #EAEAEA;
}

.example__block {
  outline: 1px dashed MidnightBlue;
  outline-offset: -1px;
}
.example__block:first-child {
  padding-top: 52px;
  margin-bottom: 38px;
}

.example__title {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 1em;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 26px;
}

.example__text {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.29em;
  color: #444444;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.example__table * {
  outline: 1px dashed aqua;
  outline-offset: -1px;
}

.example__body {
  display: flex;
  justify-content: space-between;
}

.example__cell {
  display: flex;
  flex-direction: column;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  width: 44.44%;
  height: 56px;
  margin-bottom: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
  position: relative;
}

.example__cell dd {
  margin: 0 auto;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: black;
}

.example__cell dt {
  margin: 0 auto;
}

.example__body dt {
  order: 1;
  font-family: Arial, sans-serif;
  font-size: 0.75em;
  line-height: 1em;
  color: #444444;
  text-align: center;
  background-color: #EAEAEA;
  width: 71.07%;
  padding-left: 3px;
  padding-right: 3px;
  position: absolute;
  left: 13.774%;
  top: 45px;
}

.example__body dd {
  order: 0;
  font-weight: 400;
  line-height: 1em;
}

.example__footer .example__cell {
  flex-direction: row;
  width: 100%;
}

.example__footer .example__cell dt,
.example__footer .example__cell dd {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: black;
  font-size: 0.875em;
  line-height: 1.4em;
}

@media (min-width: 480px) {
  .example__body {
    justify-content: space-around;
  }

  .example__cell {
    width: 34%;
    height: 64px;
  }

  .example__body dt {
    top: 55px;
    width: 76%;
  }

  .example__footer .example__cell dt,
.example__footer .example__cell dd {
    width: 100%;
  }
}
.example__footer .example__cell {
  border: none;
  padding-top: 7px;
  padding-bottom: 0px;
  width: 100%;
  height: 100%;
}

.example__footer dd {
  width: 63%;
  text-align: left;
}

.example__footer dt {
  width: 96%;
  padding-right: 2px;
  text-align: right;
}

@media (min-width: 768px) {
  .example__body {
    justify-content: space-between;
    width: 366px;
  }

  .example__cell {
    width: 162px;
    height: 72px;
  }

  .example__body dt {
    top: 63px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    width: fit-content;
  }

  .example__body .example__cell:nth-child(1) dt {
    left: 24.336px;
  }

  .example__body .example__cell:nth-child(2) dt {
    left: 10.2265px;
  }

  .example__table {
    display: flex;
    justify-content: space-between;
  }

  .example__footer .example__cell {
    display: block;
  }

  .example__footer .example__cell dd,
.example__footer .example__cell dt {
    text-align: right;
  }
}
@media (min-width: 1024px) {
  .example__table {
    flex-direction: column;
  }

  .example__footer {
    width: 366px;
  }

  .example__footer .example__cell {
    width: auto;
  }

  .example__footer .example__cell dd,
.example__footer .example__cell dt {
    display: inline;
    text-align: right;
  }

  .example__footer .example__cell dd {
    margin-left: 100px;
  }
}
.example__block:nth-child(2) * {
  outline: 1px dashed Fuchsia;
  outline-offset: -1px;
}

.example__pictuer {
  height: 240px;
}

.example__picture_before {
  text-align: center;
}

.example__picture_after {
  text-align: center;
}

.example__picture_hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */
