@mixin lineout ($width: 1px, $color: darkorange){
	outline: $width dashed $color;
	outline-offset: -$width;

}

@mixin title-style {
	font-family: "Oswald", Arial, sans-serif;
	font-weight: 400;
	font-size: 2.25em;
	line-height: 1em;
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
}

@mixin text-style {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 0.875em;
	line-height: 1.29em;
	color: $text-color-dark;
	padding-top: 0px;
	padding-bottom: 0px;;
}